body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.table td.op-user {
    text-align: right;
}
.table td {
    text-align: left;
}
.btn-point {
    margin-right: 7px;
}
.op-user {
    text-align: right;
}

tr.hover-item:hover, tr.hover-item:hover > td {
    background: #e7f4ff !important;
    cursor: pointer;
}
tr.hover-item:active, tr.hover-item:active > td {
    background: #cae7ff !important;
    cursor: pointer;
}